<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.angelica.appuniremigton">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VistaUniremington" />
        <activity android:name=".Moodle" />
        <activity android:name=".CorreoInst" />
        <activity android:name=".Q10" />
        <activity android:name=".ReciboMatricula" />
        <activity android:name=".OfertaAcademica" />
        <activity android:name=".FormaPago" />
        <activity android:name=".ConveniosDescuentos" />
        <activity android:name=".RequisitosInscripcion" />
        <activity android:name=".Homologaciones" />
        <activity android:name=".TarifasInstitucionales" />
        <activity android:name=".PreInscripcion" />
        <activity android:name=".DocumentosNuevos" />
        <activity android:name=".CalendarioAcademico" />
        <activity android:name=".DirectorioAdministrativo" />
        <activity android:name=".LineamientosAcademicos" />
        <activity android:name=".Reglamento" />
        <activity android:name=".ReservaEquipos" />
        <activity android:name=".Especializaciones"></activity>
    </application>

</manifest>